<!-- Material Design Toolbar with Title and a menu, which contains all menu pages links. -->
<md-toolbar color="primary">
  <span>{{title}}</span>

  <span class="example-spacer"></span>

  <!-- Menu here! -->
  <button md-icon-button [mdMenuTriggerFor]="menu">
    <md-icon>menu</md-icon>
  </button>
  <md-menu #menu="mdMenu">
    <a md-menu-item *ngFor="let element of MenuList" [routerLink]="[element.slug]">
      <md-icon>
        {{element.icon}}
      </md-icon>
      <span>
        {{element.title}}
      </span>
    </a>
  </md-menu>
  <!-- Menu here! -->

</md-toolbar>
