<md-card class="example-card" *ngFor="let data of devicesList">

  <!--
  <img md-card-image src="{{ data.url }}">
  -->

  <md-card-header>
    <md-card-title>{{ data.Brand }}</md-card-title>
    <md-card-subtitle></md-card-subtitle>
  </md-card-header>

  <md-card-content>
    <p>devices: {{data.counter}}</p>
  </md-card-content>

  <md-card-actions>
    <a md-button [routerLink]="['/sheets/', data.Brand]">
      <md-icon>visibility</md-icon>
      VIEW
    </a>
    <button md-button>
      <md-icon>share</md-icon>
      SHARE
    </button>
  </md-card-actions>

</md-card>
