<!--Load the AJAX API for Charts -->
<script src="../node_modules/chart.js/src/chart.js"></script>

<!-- Chart Material Design card-->
<md-card class="example-card">
  <md-card-header>
    <div md-card-avatar>
      <md-icon>schedule</md-icon>
    </div>
    <md-card-title>
      Most Telephone Using
    </md-card-title>
    <md-card-subtitle></md-card-subtitle>
  </md-card-header>

  <md-card-content>
    <div style="display: block">

      <!-- Call the chart only when every data is loaded -->
      <canvas *ngIf="lineChart" baseChart width="400" height="400"
              [datasets]="lineChartData"
              [labels]="lineChartLabels"
              [options]="lineChartOptions"
              [colors]="lineChartColors"
              [legend]="lineChartLegend"
              [chartType]="lineChartType"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"></canvas>
    </div>
  </md-card-content>
</md-card>

<!-- For every message in messagesList, create a Material Design card -->
<md-card class="example-card" *ngFor="let data of MessagesList">
  <md-card-header>
    <div md-card-avatar>
      <md-icon>email</md-icon>
    </div>
    <md-card-title>{{ data.text }}</md-card-title>
    <md-card-subtitle>Sender: {{ data.sender }}</md-card-subtitle>
    <md-card-subtitle>Receiver: {{ data.receiver }}</md-card-subtitle>
  </md-card-header>

  <md-card-content></md-card-content>
  <md-card-actions></md-card-actions>
</md-card>

<!-- For every data in DevicesList, create a Material Design card with all device info -->
<md-card class="example-card" *ngFor="let data of DevicesList">
  <md-card-header>
    <md-card-title>{{ data["BuildInfo"]["Brand"]}} {{ data["BuildInfo"]["Model"]}}</md-card-title>
    <md-card-subtitle>{{ data["TelephoneInfo"]["IMEI"] }}</md-card-subtitle>
  </md-card-header>

  <md-card-content>
    <p>Phone Number: {{ data["TelephoneInfo"]["PhoneNumber"] }}</p>
    <p>Network Operator: {{ data["TelephoneInfo"]["NetworkOperatorName"] }}</p>
    <p>Fingerprint: {{ data["BuildInfo"]["Fingerprint"] }}</p>
    <p>User: {{ data["UserInfo"]["Username"] }}</p>
    <p>Battery Level: {{ data["BatteryInfo"]["Level"] }}</p>
    <p>Is Battery Charging: {{ data["BatteryInfo"]["IsCharging"] }}</p>
  </md-card-content>

  <md-card-actions></md-card-actions>
</md-card>

