<md-card class="example-card">
  <md-card-header>
    <div md-card-avatar class="example-header-image"></div>
    <md-card-title>
      Welcome to {{title}}!
    </md-card-title>
    <md-card-subtitle>Powered by <a href="https://github.com/salvobertoncini/ServerTorch">ServerTorch</a>
    </md-card-subtitle>
  </md-card-header>

  <md-card-content>
    Premi INIZIA per vedere gli utenti catturati!
  </md-card-content>

  <md-card-actions>
    <a md-button [routerLink]="['/users']">
      <md-icon>fingerprint</md-icon>
      INIZIA
    </a>
  </md-card-actions>

</md-card>

