<!--Load the AJAX API for Charts -->
<script src="../node_modules/chart.js/src/chart.js"></script>

<md-card class="example-card">
  <md-card-header>
    <div md-card-avatar class="example-header-image"></div>
    <md-card-title>
      Stats
    </md-card-title>
    <md-card-subtitle>Powered by <a href="https://github.com/salvobertoncini/ServerTorch">ServerTorch</a>
    </md-card-subtitle>
  </md-card-header>
</md-card>


<md-card class="example-card">
  <md-card-header>
    <div md-card-avatar>
      <md-icon>android</md-icon>
    </div>
    <md-card-title>
      Response: {{ resp }}
    </md-card-title>
    <md-card-subtitle></md-card-subtitle>
  </md-card-header>
  <md-card-content>

    <div style="display: block">
      <canvas baseChart
              [data]="doughnutChartData"
              [labels]="doughnutChartLabels"
              [chartType]="doughnutChartType"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"></canvas>
    </div>

  </md-card-content>
</md-card>

