<md-card class="example-card" *ngFor="let data of devicesJSONList">

  <md-card-header>
    <md-card-title>{{ data["BuildInfo"]["Brand"]}} {{ data["BuildInfo"]["Model"]}}</md-card-title>
    <md-card-subtitle>{{ data["TelephoneInfo"]["IMEI"] }}</md-card-subtitle>
  </md-card-header>

  <md-card-content>
    <p>Phone Number: {{ data["TelephoneInfo"]["PhoneNumber"] }}</p>
    <p>Network Operator: {{ data["TelephoneInfo"]["NetworkOperatorName"] }}</p>
    <p>Fingerprint: {{ data["BuildInfo"]["Fingerprint"] }}</p>
    <p>User: {{ data["UserInfo"]["Username"] }}</p>
    <p>Battery Level: {{ data["BatteryInfo"]["Level"] }}</p>
    <p>Is Battery Charging: {{ data["BatteryInfo"]["IsCharging"] }}</p>
  </md-card-content>

  <md-card-actions>
    <a md-button [routerLink]="['/devices/', data['TelephoneInfo']['IMEI'] ]">
      <md-icon>visibility</md-icon>
      VIEW
    </a>
  </md-card-actions>

</md-card>

